@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Beiruti:wght@200..900&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --bg-dark: rgb(45, 45, 45);
    --bg-light: white;
    
    --clr-emerald: #50C878;
    --clr-fg: black;
    --clf-dark-fg: var(--clr-emerald);
}

@font-face {
    font-family: 'Diwani';
    src: url(../font/Diwani\ Letter\ Regular.ttf)
}

@font-face {
    font-family: 'Thuluth';
    src: url(../font/Gandhara\ Suls\ Regular.ttf)
}

body {
    margin: 0;
    padding: 0;
    background: var(--bg-light);
    color: var(--clr-fg);
    font-family: "Beiruti", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    overflow-x: unset;
}

.container {
    height: 100vh;
    width: calc(100vw - 395px);
    overflow-x: none;
}

.arabic {
    font-family: "Amiri", serif;
    font-weight: 400;
    font-style: normal;
}

a {
    text-decoration: none;
    color: var(--clr-emerald);
}

.not-working {
    color: red;
}

.title-container {
    text-align: center;
}

.title {
    font-family: 'Diwani', sans-serif;
    font-size: 75px;
}

.encyclopedia .title {
    font-family: 'Thuluth', sans-serif;
    font-size: 50px;
}

.section-title, .subsection-title {
    font-size: 40px;
}

.section-par, .subsection-par {
    font-size: 30px
}

.subsection {
    margin-top: 75px;
    display: flex;
}

.sidesection {
    color: var(--bg-light);
    background: #50C878;
    width: 30vw;
}

.subsection-picture {
    width: 100%;
}

.subsection-par {
    padding-left: 25px;
    width: 70vw;
}

.unit_flag {
    height: 25px;
    width: 50px;
}

.imgs-container {
    display: flex;
    justify-content: space-evenly;
    padding-top: 15px;
    gap: 5px;
}

.image {
    height: 375px;
    width: 300px;
}

.image > img {
    height: 350px;
    width: 300px;
}

.image h5 {
    padding: 0;
    margin: 0;
}

.sidebar {
    position: absolute;
    right: 0;
    background: #50C878;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.sidebar-flag {
    height: 150px;
    width: 250px;
}

.sidebar-flag-circle {
    height: 150px;
    width: 150px;
}

.sidebar-icon-small {
    height: 25px;
    width: 30px;
}

.sidebar-flag-small {
    height: 15px;
    width: 30px;
}

.sidebar table {
    font-size: 20px;
}

h6 {
    font-size: 25px;
    text-align: center;
}

.song p {
    font-size: 30px;
}